.container{
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}
.nav-bar{
    display: flex;
    align-items: flex-start;

}

.box img{
    height: 20vh;
    min-width: 10vw;
    border-radius: 50%;
    height: 20vh;
    width: 20vw;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 5px 10px rgb(204, 70, 70);

  }
.box img:hover{
    background-color: white;
}

  .container-sun{
    position: relative;
    background: url(../img/sundiego.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-image: url();

  }
.avatar{
    position: absolute;
    float: right;
    left: 20%;
    width: 90vw;
}
.nebula{
    position: absolute;
    width: 90vw;
    left: 28%;
    
}
.star-box{
    display: flex;
   
}

.star{
    display: flex;
    width: 10px;
    height: 10px;

   
}
.name-container, h2{
    position: absolute;
    justify-content: flex;
    flex-direction: column; 
    float: left;
    margin-top: 10%;
    align-items: center;
    left:10%;

}
.rocket-container{
    display: flex;
    align-items: flex-start;
    width: 50%;
    float: left;
    justify-content: center;
}
.rocket{
    position: absolute;
    width: 30vw;
    height: 30vh;
    justify-content: center;
    margin:5px 10px 5px 0px;
    top:70%
}
.button{
    width: 50%;
    display: flex;
    justify-content: center;
}
.btn{
    border-radius: 16px;
    background-color: red;
    font-size: 30px;
    color: white;
}



