.container{
    background-image: url("../img/halfbackground.png");
    background-size: cover;
    background-repeat: no-repeat;
 
 
}


.avatar{
    min-width: 50%;
    position: absolute;
    left: 25%;
    width: 50vw;
    left: 45%;
    bottom: 13%;
    z-index:-5;
    max-width: 100%;
 
    
    
}
.nebula{
    position: absolute;
    z-index:-5;
    width: 70vw;
    left: 30%;
    bottom: 0;
    right: 0;
    max-width: 100%;
    
}
.star-box{
    display: flex;
    align-items: center;
}

.star{
    width: 20vw;
    min-width: 100px;
    left: 22%;
    position: absolute;
    z-index:-5;

}

.name-container{
    display: flex;
    flex-direction: column; 
    margin-top: 2%;
    margin-left: 8%;
    font-family: "Brice-Black";
    align-items: flex-start;
}
.name{
    position: relative;
    left: 10%;
}

.rocket-container{
    display: flex;
    align-items: center;
    
}
.rocket{
    width: 10vw;
    margin-top: 3%;
    margin-left: 12%;
    transform: rotate(-15deg);
    margin-bottom: 2%;

}
.logo{
    width: 10vw;
    margin-top: 3%;
    margin-left: 12%;

}

.btn{
    display: flex;   
    justify-content: flex-start;
    position: relative;
    left: 20%;
    border-radius: 30px;
    background-color: #ff5757;
    font-size: 30px;
    color: white;  
    padding: 10px 40px 10px 40px;  
}
