
.container{
    background-image: url("../img/halfbackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
 
}


.avatar{
    display: flex;
    position: absolute;

    padding: 0px;
    width: 100vw;
    max-width: 100%;
    left: 25%;
    bottom: 5%;
    right: 0;
    z-index:-5;
    
}
.nebula{
    position: absolute;
    z-index:-5;
    padding: 0px;
    width: 100vw;
    max-width: 100%;
    left: 20%;
    bottom: 0;
    right: 0;
    
}
.star-box{
    display: flex;
    align-items: center;
}

.star{
    width: 20vw;
    height: 20vh;
    left: 70%;
}

.name-container{
    display: flex;
    flex-direction: column; 
    margin-top: 5%;
    margin-left: 10%;
    
    align-items: flex-start;
}

.name{
    font-size: 2rem;
}
.job{
    font-size: 1.5rem;
}
.rocket-container{
    display: flex;
    align-items: flex-start;
    
}
.rocket{
    width: 30vw;
    height: 30vh;

}
.button{
    display: flex;   
    justify-content: center;
    right: 20%; 
}

.btn{
    border-radius: 16px;
    background-color: red;
    font-size: 30px;
    color: white;    
}
