// Colors
$purple-button: #833ab4;
$dark-grey: #363636;
$space-blue:#022c43;
$light-grey: #d8d8d8;
$neon-letters:   0 0 5px #0bf4f3,
   0 0 10px #368888,
   0 0 20px #213535,
   0 0 40px #202d2d,
   0 0 80px #213636;

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;


