@font-face{
    font-family: "Brice-Black";
    src: local("Brice-Black"),
    url("../fonts/TextFonts.net_brice-font-family/Brice-Black.otf");
    font-weight: bold;
}

@font-face{
    font-family: "Brice-light";
    src: local("Brice-light"),
    url("../fonts/TextFonts.net_brice-font-family/Brice-ExtraLight.otf");
    font-weight: bold;
}

@font-face{
    font-family: "Brice-SemiBoldSemiExpanded";
    src: local("Brice-SemiBoldSemiExpanded"),
    url("../fonts/TextFonts.net_brice-font-family/Brice-SemiBoldSemiExpanded.otf");
    font-weight: bold;
}

