.nav-bar{    
    display: flex;
    margin-top: 20px;
    align-items:flex-start;
    gap: 1rem;
    font-family: "Brice-Black";
    font-size: 20px;
    text-shadow:  $neon-letters;
    

    
}

.box {
    
    min-width: 5w;
    width: 5vw;
    margin: 20px ;
    padding: 0px;
    border-radius: 20px;
    
  }

.box:hover{
    background-color: white;
    transition: 0.5s;
}