.navBar{    
    display: flex;
    margin-top: 20px;
    align-items:flex-start;
    gap: 1rem;
    font-family: "Brice-Black";
    font-size: 20px;
    text-shadow:  
    0 0 5px #0bf4f3,
   0 0 10px #368888,
   0 0 20px #213535,
   0 0 40px #202d2d,
   0 0 80px #213636;


    
}

.box {
    
    min-width: 5w;
    width: 5vw;
    margin: 20px ;
    padding: 0px;
    border-radius: 20px;
    
  }

.box:hover{
    background-color: white;
    transition: 0.5s;
}