.navBar{    
    display: flex;
    margin-top: 20px;
    align-items:flex-start;
    gap: 3rem;
    font-family: "Brice-Black";
 
    
}

.box {
    
    max-width: 100%;
    width: 5vw;
    margin: 20px ;
    padding: 0px;
    border-radius: 20px;
  }

.box:hover{
    background-color: white;
}